<ul>
  <li *ngFor="let episode of episodes">{{ episode.title }}</li>
</ul>
<ul>
  @for (episode of episodes; track episode.id) {
  <li>{{ episode.title }}</li>
  }
</ul>
<ul>
  <li
    *ngFor="
      let episode of episodes;
      let i = index;
      let isOdd = odd;
      let isFirst = first
    "
    [ngClass]="{ odd: isOdd, bgfonce: isFirst }"
  >
    Episode {{ i + 1 }}{{ episode.title }}
  </li>
</ul>

<ul>
  @for (episode of episodes; track episode.id) {
  <li
    [ngClass]="{ odd: $odd, bgfonce: $first }"
  >
    Episode {{ $index + 1 }} : {{ episode.title }}
  </li>
  }
</ul>

<ol class="list-group">
  @for (player of players; track player.id) {
    <li class="list-group-item">{{player.name}}</li>
  }
  @empty {
    <li class="list-group-item list-group-item">La liste ne nous est pas encore parvenue</li>
  }
</ol>
